.row {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {}

#message {
    display: none;
    position: absolute;
    left: 40%;
    font-family: Helvetica, Arial, Sans-Serif;
    margin-top: 10px;
    padding: 5px;
    z-index: 10000;
    text-align: center;
    color: #ffffff;
    background-color: rgba(245, 12, 12, 0.5);
    border: 1px;
    border-radius: 2px;
    /*background-image: url(‘warning.png’);*/
}

select {
    margin: 5px 5px 10px 10px;
    border: 1px solid #111;
    background: transparent;
    width: 180px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #fefeff;
    height: 39px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(down2.png) 94% / 6% no-repeat rgba(231, 225, 249, 0.87);
}

.seldate {
    margin: 10px 2px 10px 10px;
    border: 1px solid #111;
    background: transparent;
    width: 152px;
    height: 29px;
    padding: 5px 10px 3px 5px;
    font-size: 16px;
    border: 1px solid #fefeff;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(231, 225, 249, 0.87);
}


/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none;
    /* remove default arrow on ie10 and ie11 */
}


/* target Internet Explorer 9 to undo the custom arrow */

@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}


/*legend*/

.legend {
    line-height: 18px;
    color: #333333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend img {
    width: 220px;
    height: auto;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.button {
    background-color: white;
    color: black;
    border: 1px solid #7314c6;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*    margin: px 2px;*/
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #7314c6;
    color: white;
}

.button:disabled,
button[disabled]:hover {
    /*    border: 1px solid #999999;*/
    background-color: #f7f7f7;
    color: #868484;
    cursor: default;
}

.buttonR {
    background-color: white;
    color: black;
    border: 1px solid #7314c6;
    border-radius: 0px 5px 5px 0px;
    margin-left: -6px;
}

.buttonL {
    background-color: white;
    color: black;
    border: 1px solid #7314c6;
    border-radius: 5px 0px 0px 5px;
    /*    margin-left: -6px;*/
}

.buttonC {
    background-color: white;
    color: black;
    border: 1px solid #7314c6;
    border-radius: 0px;
    margin-left: -6px;
}

.buttonR:hover,
buttonL:hover,
buttonC:hover {
    background-color: #7314c6;
    color: white;
}

.leaflet-image-layer.styleOverlay {
    border: 5px solid red;
}
